<!DOCTYPE html>
<html lang="en">

<body> 
    <h3>Purchase Forecast Based on Social Media Ads</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="age">Age</label> 
    <input type="text" id="age" name="age"> 

    <br> 
    <label for="Gender">Gender</label> 
    <select id="Gender" name="Gender"> 
      <option value="0">Male</option> 
      <option value="1">Female</option> 
    </select> 
    <br> 
    <label for="martial_stat">EstimatedSalary</label> 
    <input type="text" id="salary" name="salary"> 
    <br> 
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html> 


